<a href="https://colab.research.google.com/github/sunnybhupati/sb-test/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np

In [35]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [39]:
link = 'https://drive.google.com/open?id=1KqRCZFMr8PZoTWXtkIJbsbyXSO3feyyv'

In [40]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='aa

1KqRCZFMr8PZoTWXtkIJbsbyXSO3feyyv

In [41]:
downloaded = drive.CreateFile({'id': id}) 
# downloaded.GetContentFile('Filename.csv')  
df = pd.read_csv('telecom_churn_data.csv')

FileNotFoundError: ignored

NameError: ignored

In [20]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [48]:
df = pd.read_csv('/content/telecom_churn_data.csv')

In [49]:
df.head()

   mobile_number  circle_id  loc_og_t2o_mou  ...  jul_vbc_3g  jun_vbc_3g sep_vbc_3g
0     7000842753        109             0.0  ...         0.0      101.20       3.58
1     7001865778        109             0.0  ...         0.0        0.00       0.00
2     7001625959        109             0.0  ...         0.0        4.17       0.00
3     7001204172        109             0.0  ...         0.0        0.00       0.00
4     7000142493        109             0.0  ...         0.0        0.00       0.00

[5 rows x 226 columns]